
body{
    background-color: #F2F7F2;
    color:black;
}

.active{
    font-weight: bold;
    color: #F2F7F2 !important;
}

.navbar{
    background-color:black ;
}

.nav-link{
    color: #F2F7F2;
}

.nav-link:hover{
    color: #aeaeae;
    border-left: 1px solid #aeaeae;
}

p{
    margin-bottom: 0;
}